<!DOCTYPE html>
<html>
  <head>
    <title>Edit Customer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Edit Customer</h1>
    <form method="POST" action="/customer/update">

        <input type="hidden" name="_id" value="<%=customer._id%>">

        <%- include('_form',{customer:customer,action:"Update"}) %>
        
    </form>
  </body>
</html>
